Domain.Infrastructure/Web References/DomainApiService/DomainApi0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Olipso.Core.DataContracts.Bases" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Olipso.Core.DataContracts.Bases" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BaseData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseData" nillable="true" type="tns:BaseData" />
</xs:schema>